<!DOCTYPE html>
<html>
<head>
    <style>
        .mainContainer {
            max-width: 1650px;
            margin: 50px auto;
        }
        .headerContainer {
            width: 100%;
            display: flex;
        }

        .listWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

        }
        .singleItem {
            width: calc(50% - 100px);
            height: calc(50vh - 25px);
            padding: 25px 25px 0 25px;
        }
        ul {

           margin:0;
            padding: 0;
            list-style: none;
        }
        li {
           display: flex;

        }
        .bold {
            font-weight: bold;

        }
        p {
            margin: 0;
            padding: 0;
        }
        @media print {
            #date {
                position: fixed;
                top: 25px;
                right: 50px;
                text-align: center;
            }
        }
        form {
            margin-top: 15px;
        }
        form div {
            margin: 5px 0;
        }
        label {
            font-size: 12px;
            font-weight: bold;
            padding-right: 5px;
            margin-top: 5px;
        }
        input {
            border: none;
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>



<div class="mainContainer">
    <h3 id="date">03/01/2024 - 03/31/2024</h3>
    <div class="listWrapper">

    <% rows.forEach(function(row, i) { %>
         <div class="singleItem">
            <ul>
            <% headers.forEach(function(header) { %>
                <% if (header === 'Position' || header === 'Points' || header === "Group" || header === "Breed") { %>
                <li>
                        <p class="bold"><%= header %>: </p>
                        <p class="bold"><%= row[header] %></p>
                </li>
                    <% } else { %>
                    <li>
                     <p ><%= row[header] %></p>
                    </li>
                    <% } %>
              
            <% }) %>
            </ul>
             <form>
                 <div>
                     <label for="contactone<%= i %>">Contact/Email</label>
                     <input type="text" name="contactone<%= i %>" id="contactone<%= i %>">
                 </div>
                 <div>
                     <label for="phoneone<%= i %>">Phone</label>
                     <input type="text" name="phoneone<%= i %>" id="phoneone<%= i %>">
                 </div>
                 <div>
                     <label for="contacttwo<%= i %>">Contact/Email</label>
                     <input type="text" name="contacttwo<%= i %>" id="contacttwo<%= i %>">
                 </div>
                 <div>
                     <label for="phonetwo<%= i %>">Phone</label>
                     <input type="text" name="phonetwo<%= i %>" id="phonetwo<%= i %>">
                 </div>
             </form>

         </div>
    <% }) %>
    </div>
</div>

<% if (showButton) { %>
    <button onclick="location.href='/generate-pdf'">Generate PDF</button>
<% } %>

</body>
</html>
